<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>INFORMACION CLIENTE</h1>
        <section>
            <h2>Datos registrados</h2>
            <ul>
                <li><%=data.nombre%></li>
                <li><%=data.apellido%></li>
                <li><%=data.direccion%></li>
                <li><%=data.pais%></li>
                <li><%=data.numPedidos%></li>
                <li><%=data.saldoCuenta%></li>
                <li>
                    <% if (data.suscrito) { %>
                        <span>SOCIO CON VISA ORO</span>
                    <%} else { %>
                        <span>NO SOCIO</span>
                    <%} %>
                </li>                
            </ul>
        </section>
    </main>
                
</body>
</html>